@charset "utf-8";
body{
font-family:;
margin:0px;
overflow-x:hidden;
}
h1{
font-weight:normal;
margin:;
}
ul li{
list-style:none;
}
footer{
padding:10px 10px 0;
} 
background-color:#444;
}
@media screen and(min-width:600px){
body{
font-size:15px;
line-height:10px;
}

}
@media screen and(max-width:600px){
.headerpic1{
 display:block;
 width:100px;
}
}
